.navbar-brand img{
    height: 50px;
    padding: 0px;
}
nav {
    transition: 0.3s;
    padding-top: 20px !important;
}
.scrolling{
    padding: 0px !important;
    background-color: black;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}
.nav-item{
    margin-right: 50px;
}

section{
    margin-bottom: 15px;
}

.inner-width{
    padding: 0 80px;
    display: flex;
}

#about {
    height: 60vh;
}


.container{
    margin-left: 80px;
}


footer{
    background-color: black;
    height: 30vh;
    padding-top: 15px;
}

footer h1{
    color: aliceblue;
}