@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Playfair Display", serif;
}

/* navigasi */
nav img {
  width: 30px;
  margin-bottom: 5px;
}

nav {
  transition: 0.3s;
  padding-top: 20px !important;
}

ul {
  margin-left: 150px;
}

.scrolling {
  padding-top: 5px !important;
  background-color: black;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
}

/* jumbotron */
.jumbo {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../image/jumbotron.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.jumbo::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: rgba(0, 0, 0, 0.527);
}

.jumbo h1 {
  z-index: 5;
}
#about {
  background-color: #0C53A6;
}

.pengurus img {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}

@keyframes scroll {
  0% {
    left: 0;
  }
  100% {
    left: -375%;
  }
}

.auto-slide {
  animation: scroll 40s linear infinite;
}

footer {
  background-color: black;
  padding-top: 15px;
  align-items: center;
  text-align: center;
}

footer img {
  width: 30px;
  margin-bottom: 5px;
}

footer a{
  padding-top: 10px;
  color: rgb(59, 54, 54);
  text-decoration: none;
  transition: 0.2s linear;
}

footer a:hover{
  color: aliceblue;
}

.sm a{
  color: aliceblue;
  text-decoration: none;
  margin-right: 5px;
  transition: 0.2s linear;
}

.sm a:hover{
  color: #0C53A6;
}