img{
    height: 50px;
    width: 50px;
}

.jumbotron{
    padding: 5rem 1rem;
    background-color: lightblue;
}

.nav-item{
    margin-left: 0;
    margin-right: 50px;
}

section{ 
    padding: 10px 0;
   
}

#about .inner-width{
    padding: 0 80px;
    display: flex;
}

